*{
  margin: 0;
  padding:0;
}
  
.menu{
  
 
}
.menu ul{
  background:#6c5ce7;
  text-align: center;
  
  
}

.menu ul li{
  display: inline-block;
  text-align: center;
}
.menu ul li a{
  color: white;
  display: inline-block;
  padding:15px 15px;
  text-decoration: none;
  font-size: 20px;
  border-left: 1px solid #fff;
  
}
.menu ul li :first-child a{
  border-left: 1px solid #fff;
}
 
.menu ul li:hover > a {
  background:#81ecec;
  color: black;
}



.menu ul li{
  position: relative;
  
}
.menu ul li ul{
position: absolute;
top: 100%;
left: 0;
width: 100px;
background:#2c3e50;
border: 1px solid #ddd;
transition:.5s;

}

.menu ul li ul li{
 display: block;
 margin: 0;
}
.menu ul li ul li a{
  
 display: block; 
  border: none;
  color: white;
    border-bottom: 1px solid #ddd;
}
.menu ul ul li :first-child a {
  border-left: none;

}
  
/* hover part */
.menu ul li ul li a:hover{
  
 background:#81ecec;
 color: black;
}

.menu ul li ul{
  visibility:none;
  opacity: 0;
  transform: scaley(0);
  transform-origin:top center;
  
}
.menu ul li:hover ul{
  
  opacity: 1;
  visibility: visible;
  transform: scaley(1);
}
/* social menu */

.p{
 margin-top:300px; 
}
.p ul{
  text-align: center;
  font-size:20px;
  
  
}
.p ul li{
 display: inline-block; 
 
 
}
.p ul li a{
color: #fff;
background:#6D214F;
margin-left:2px;

display: inline-block;
border-radius: 50%;
height: 50px;
width: 50px;
display: inline-block;
line-height: 50px;
}

.p ul li a:hover{
 color: greenyellow;
 background: black;
 transition:.6s;
}